<link rel="stylesheet" href="css/style.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="/"><i class="bigIcon green fa-regular fa-face-grin"></i> MoodBelly</a>
</div>
</nav>